*.log
.DS_Store
.env
.env.backup
.env.production
.env.docker
.phpactor.json
.phpunit.result.cache
/.codex/*
!/.codex/config.toml
/.agents/
/.claude/
/.cursor/
/.junie/*
!/.junie/mcp/
!/.junie/mcp/mcp.json
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/bootstrap/cache/*.php
/database/*.sqlite
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/framework/
/storage/pail
/vendor
/boost.json
/CLAUDE.md
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
